html {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Merriweather', serif;
    margin-bottom: 100px;
    margin-left: 5px;
    padding-left:2px ;
}
.header {
    padding-bottom: 30px;
}
.nav {
    float:right;
    padding-right: 100px;
}
.nav a {
    padding-left: 20px;
    text-decoration: none;
    color: black;
}
.section1 , .section2 {
    padding-top: 40px;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    

}
.section1-1 , .section1-2 ,.section2-1,.section2-2  {
    /* width: 40%;
    float: left; */
    
    
    width: 40%;
}
.section1-2 img , .section2-1 img{
    width: 100%;
}
.section1 a ,.section2 a,.section4-2 a {
    /* margin-top: 30px; */
    padding-left: 20px;
    text-decoration: none;
    background-image: linear-gradient(180deg,rgb(192, 49, 33),rgb(224, 144, 129));
    padding: 5px 10px 5px 5px;
    color: white;
}
.section1-1 h1 {
    text-transform:uppercase;
}
.section1-1 h1 span {
    color: orange;
}
.section1 p ,.section2 p {
    padding-bottom: 10px;
}
.section2 p {
    font-weight: 100;
}
.section2-2 h3 {
    text-align: center;
}
.section3 {
    background-color: rgb(241, 236, 236);
    min-height: 600px;
    margin: 0;
}
.headline {
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
}
.section3mid {
    padding: 20px 0px 50px 0px;
    margin: 0px 100px 100px 100px;
    min-height:450px ;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
}
.section3-1,.section3-2,.section3-3 {
    min-height:270px ;
    background-color: white;
    width: 30%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px grey;
}
.section3-1 img,.section3-2 img,.section3-3 img {
    width: 100%;
}
.section3 p {
    font-size: 10px;
}
.section4 {

    height: 100px;
    width: 400px;
    /* background-color: blue; */
    margin: 100px 300px 50px 750px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-image: url(shapes/Group_33094_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.section5 {
    text-align: center;
}
.section5-1 {
    /* background-color: teal; */
    height: 50px;
    
}
.section5-1 img {
    max-width: 3%;
    padding-left: 10px;
}